*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color:#636362;
}
ul li{
    list-style: inside;
}
h2{
    margin-bottom: 10px;
}
.container{
    max-width: 90%;
    margin: auto;
    background: wheat;
    padding: 2%;
}
.info_personal{
    display: flex;
    justify-content: space-between;
}